<div class="small-wrapper">

  <h2 class="h2">Where are you?</h2>

  <form {{action "setInfo" on="submit"}}>
    <fieldset>
      <label>Country</label>
      {{#power-select options=countries selected=selectedCountry onchange=(action "onCountrySelected") as |country|}}
        {{country.name}}
      {{/power-select}}
    </fieldset>
    <fieldset>
      <label>City</label>
      {{#power-select options=cities selected=selectedCity onchange=(action "onCitySelected") as |city|}}
        {{city.name}}
      {{/power-select}}

    </fieldset>
    <fieldset>
      <ul>
        {{#each userStatus as |status|}}
            <li>
              {{radio-button value=status groupValue=selectedUserStatus}}
              <label for="{{status.key}}">{{status.name}}</label>
            </li>
        {{/each}}
      </ul>
    </fieldset>

    <fieldset class="text-center">
      <input class="bttn bttn-action" type="submit" value="Continue" disabled={{isInfoInvalid}} />  
    </fieldset>
  </form>
</div>
