{{partial 'navigation'}}

{{#if currentLocation}}
  {{wy-map location=currentLocation points=points activePoint=activePoint}}
{{else}}
  <p class="text-subtle text-additional-info text-no-margin text-center">Loading map...</p>
{{/if}}


<div class="poi-information">
  <div class="poi-information__main col">
   
    <div class="poi-information__description">
      <h3 class="h3 text-no-margin text-bold">Emergency Shelter</h3>
      <h4 class="h4">{{activePoint.name}}</h4>
    </div>
    
    <div class="poi-information__description">
      <p class="text-no-margin">{{activePoint.address}}</p>
      <p class="text-no-margin">{{activePoint.zip}} {{activePoint.city}}, {{activePoint.country}}</p>
      <p class="text-no-margin">{{activePoint.phones}}</p>
      <p class="text-no-margin">{{activePoint.webaddress}}</p>
    </div>

  </div>

  <div class="poi-information__specification col">
    <ul>
      <li class="dotted-list">Woman</li>
      <li class="dotted-list">Family</li>
      <li class="dotted-list">Handicap</li>
    </ul>
  </div>
</div>
