<div class="footer-helper"></div>
<div class="footer group">
  <div class="wrapper footer-list">
    <div class="footer-list__group col">
      <h3 class="h3 text-white text-half-transparent"><img src="assets/images/waya_logo_white.png" alt="WAYA" title="WAYA" width="75px"></h3>
      <div class="footer-list__col col">
        {{#link-to 'home.about' class="footer-list__link text-block text-white"}}
          {{t "pages.index.footer.sections.navigation.about" }}
          {{/link-to}}
        {{#link-to 'home.projects' class="footer-list__link text-block text-white"}}
          {{t "pages.index.footer.sections.navigation.projects" }}
        {{/link-to}}
        {{#link-to 'home.values' class="footer-list__link text-block text-white"}}
          {{t "pages.index.footer.sections.navigation.values" }}
        {{/link-to}}
      </div>

      <div class="footer-list__col col">
        {{#link-to 'home.team' class="footer-list__link text-block text-white"}}
          {{t "pages.index.footer.sections.navigation.team" }}
        {{/link-to}}
        {{#link-to 'home.participate' class="footer-list__link text-block text-white"}}
          {{t "pages.index.footer.sections.navigation.participate" }}
        {{/link-to}}
        {{#link-to 'home.contact' class="footer-list__link text-block text-white"}}
          {{t "pages.index.footer.sections.navigation.contact" }}
        {{/link-to}}
      </div>
    </div>

    <div class="footer-list__group col">
      <h3 class="h3 text-white text-half-transparent">{{t "pages.index.footer.sections.partners.headline" }}</h3>
      <div class="footer-list__col col">
        <a href="https://www.runtastic.com" class="footer-list__link text-block text-white"><img src="assets/images/runtastic_logo_white.svg" class="partner-logo" alt="Runtastic GmbH" title="Runtastic GmnH" height="20px"></a>
        <a href="http://noosfeer.com/" class="footer-list__link text-block text-white"><img src="assets/images/noosfeer_logo_white.svg" class="partner-logo" alt="Noosfeer" title="Noosfeer" height="20px"></a>
      </div>
      <div class="footer-list__col col">
        <a href="#TODO#" class="footer-list__link text-block text-white"><img src="assets/images/bienvenus_logo_white.svg" class="partner-logo" alt="Bienvenus" title="Bienvenus" height="20px"></a>
        <a href="https://www.openstreetmap.org" class="footer-list__link text-block text-white"><img src="assets/images/openstreetmap_logo_white.svg" alt="OpenStreetMap" title="OpenStreetMap" class="partner-logo" height="20px"></a>
      </div>
    </div>

    <div class="footer-list__group col">
      <h3 class="h3 text-white text-half-transparent">{{t "pages.index.footer.sections.social.headline" }}</h3>

      <a href="#" class="footer-list__link text-inline footer-icon icon icon-facebook"></a>
      <a href="#" class="footer-list__link text-inline footer-icon icon icon-twitter"></a>
      <a href="#" class="footer-list__link text-inline footer-icon icon icon-instagram"></a>
      <a href="#" class="footer-list__link text-inline footer-icon icon icon-youtube"></a>
    </div>


    <div class="footer-list__group footer-list__group--text-right col">
      <p class="powered-by text-no-margin text-white text-additional-info"> Powered by</p>

      <a href="http://singa.fr/" class="text-margin-bottom"><img src="assets/images/singa_logo_waya_footer.svg" alt="Singa France" title="Singa France" width="65px"></a>

      {{#link-to 'home.terms' class="footer-list__link text-block text-white"}}
        {{t "pages.index.footer.sections.bottom.terms" }}
      {{/link-to}}
    </div>

  </div>

</div>

