<ul class="nav">
  {{#link-to "home.overview.all" class="media-table nav__item" tagName="li"}}
    <div class="item-wrapper">
      <div class="media__object icon nav-icon nav-icon-maps"></div>
      <div class="media__body nav-label"> 
        {{t "navigation.map"}}
      </div>
    </div>
  {{/link-to}}
  {{#each mainCategories as |category|}}
    {{#link-to "home.overview.category" category class="nav__item" tagName="li"}}
      <div class="item-wrapper media-table media--body-right">
        <div class="media__object">
          <div class="media-table">
            <div class="media__object icon nav-icon nav-icon-{{category.className}}"></div>
            <div class="media__body nav-label"> 
              {{category.name}}
            </div>
          </div>
        </div>
        <div class="media__body icon icon-arrow"></div>
      </div>
    {{/link-to}}
    <li class="sub-nav-group sub-nav-group-{{category.name}}">
      <ul class="sub-nav">
        {{#each category.childTags as |subCategory|}}
          {{#link-to "home.overview.category.subCategory" category subCategory tagName="li" class="sub-nav__item dotted-list"}}
            {{subCategory.name}}
          {{/link-to}}
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
