{{partial 'navigation'}}

<h2>{{t "pages.index.headline"}}</h2><
<h3>{{t "pages.index.tagline"}}</h3><

<button>{{t "pages.index.buttons.start"}}</button>

{{#if currentLocation}}
  {{wy-map location=currentLocation points=points}}
{{else}}
  Loading map...
{{/if}}

{{outlet}}