<h2>Onboarding</h2>

<form {{action "setInfo" on="submit"}}>

  {{#power-select options=countries onchange=(action "onCountrySelected") as |country|}}
    {{country}}
  {{/power-select}}

  {{#power-select options=cities onchange=(action "onCitySelected") as |city|}}
    {{city}}
  {{/power-select}}

    <ul>
      {{#each roles as |role|}}
          <li>
            {{radio-button
            value=role
            groupValue=currentRole
            }}
              <label>{{role}}</label>
          </li>
      {{/each}}
    </ul>
    <input type="submit" value="Continue"/>

</form>
