<div class="small-wrapper">

  <h3 class="text-additional-info text-subtle text-no-margin">Question 1/2</h3>
  <h2 class="h2">Where are you?</h2>

  <form {{action "setInfo" on="submit"}}>
    <fieldset>
      <label>Country</label>
      {{#power-select options=countries selected=selectedCountry onchange=(action "onCountrySelected") as |country|}}
        {{country}}
      {{/power-select}}
    </fieldset>
    <fieldset>
      <label>City</label>
      {{#power-select options=cities selected=selectedCity onchange=(action "onCitySelected") as |city|}}
        {{city}}
      {{/power-select}}

    </fieldset>
    <fieldset>
      <ul>
        {{#each model as |status|}}
            <li>
              {{radio-button
              value=status.key
              groupValue=selectedUserStatus
              }}
              <label for="{{status.key}}">{{status.name}}</label>
            </li>
        {{/each}}
      </ul>
    </fieldset>

    <fieldset class="text-center">
      <input class="bttn bttn-action" type="submit" value="Continue"/>
    </fieldset>
  </form>
</div>
