<h3 class="text-additional-info text-subtle">Question 1/2</h3>
<h2 class="h2">Where are you?</h2>

<form {{action "setInfo" on="submit"}}>

	<label>Country</label>
    {{#power-select options=countries selected=selectedCountry onchange=(action "onCountrySelected") as |country|}}
      {{country}}
    {{/power-select}}
    <label>City</label>
    {{#power-select options=cities selected=selectedCity onchange=(action "onCitySelected") as |city|}}
      {{city}}
    {{/power-select}}

    <ul>
      {{#each userStatus as |status|}}
          <li>
            {{radio-button
            value=status
            groupValue=selectedUserStatus
            }}
            <label for="{{status}}">{{status}}</label>
          </li>
      {{/each}}
    </ul>
    <input class="bttn bttn-action" type="submit" value="Continue"/>

</form>
